{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<article>
    <div class="w3-container w3-padding-24">
        <p>about us</p>
    </div>
<article>
{% endblock %}
